@import url("https://fonts.googleapis.com/css?family=Roboto Mono");

:root {
  --dark: #18272B;
  --dark-gray: #374042;
  --light: #ADBFC7;
  --main: #648B91;
  --light-cyan: #5196a4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono';
  transition: 0.3s;
}
::selection {
  background-color: darkcyan;
}

body {
  min-height: 100vh;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: var(--dark);
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(50px);  
  border-radius: 0 0 20px 20px;
  z-index: -1;
}

.header:hover {
  box-shadow: 0 15px 50px 5px var(--light-cyan);
}

.logo {
  font-size: 2rem;
  color: azure;
  text-decoration: none;
  font-weight: 700;
}

.navbar a, .links, .langs {
  cursor: pointer;
  display: flex;
  list-style: none;
  font-size: 1.15rem;
  color: azure;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}
/* .navbar {
  background: darkcyan;
} */

.navbar a:hover {
  color: lightgray;
}
.nav-buttons {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.icons {
  display: none;
  font-size: 2.8rem;
  color: azure;
  cursor: pointer;
  position: absolute;
  right: 5%;
}
#menu-bar, #links-check {
  display: none;
}

.links-dropdown, .langs-dropdown {
  transform: scale(0);
  list-style: none;
  position: absolute;
  padding: 1.5rem;
  margin: 0 -4rem;
  margin-top: 2.5rem;
  padding-right: 3.5rem;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px 7px var(--light-cyan);
  margin-top: 4rem;
  transition: 0.5s;
}

.langs-dropdown {
  margin-left: -3rem;
}

.links:hover .links-dropdown{
  transform: scale(1); 
  transition: 0ms;
}
.links:hover .down-arrow {
  rotate: 180deg;
}
.links-dropdown li:not(:last-child) {
  margin-bottom: 1rem;
}

/* .links-dropdown:hover .links-dropdown{
  display: flex;
} */
.links a {
  display: block;
}
.langs:hover .langs-dropdown {
  transform: scale(1); 
  transition: 0ms;
}
.langs:hover .down-arrow {
  rotate: 180deg;
}
.langs-dropdown li:not(:last-child) {
  margin-bottom: 1rem;
}

.bottom-panel {  
  background: rgba(0, 139, 139, 0.1);
  backdrop-filter: blur(30px);
  /* box-shadow: #5196a4 0 0 25px 25px; */
  animation: shadowLoop 5s infinite;
  border-radius: 25px;
  transition: 0s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 4dvh;
  margin: auto;
  padding: 5dvw 3dvw;  
}
.bottom-panel h1, p {  
    color: #f2f2f2;    
    text-decoration: none;
    text-align: center;
    font-size: clamp(20px, 5vw, 50px);      
    text-shadow: var(--dark) 3px 3px 5px;
}
.bottom-panel p {
  font-size: clamp(10px, 3vw, 40px);  
}
.bottom-panel button {
  border: none;
  border-radius: clamp(10px, 2dvw, 20px);  
  font-size: clamp(10px, 3vw, 40px);
  padding: clamp(10px, 2dvw, 20px);
  color: var(--dark-gray);
  background: var(--light);
  font-weight: 1000;
  text-shadow: var(--dark) 1px 1px 5px;
  cursor: pointer;
}
.button:hover{
  box-shadow: #5196a4 0 0 25px 15px;
  transition: 0.15s;
}

@keyframes shadowLoop {
  0%, 100% {
    box-shadow: #5196a4 0 0 25px 15px;
  }
  50% {
    box-shadow: #5196a4 0 0 25px 25px;
  }
}

@media (max-width: 625px) {
  .icons {
    display: block;
  }
  .navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;    
 
  }
  .nav-buttons {
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px); 
    border-radius: 20px;
  }
  .nav-buttons li {
    text-align: center;  
    display: block;  
    margin-left: 0;
    justify-content: center;
    padding-bottom: 1.5rem;    
    padding-top: 1.5rem;
  }

  #menu-bar:checked ~ .navbar {
    display: inline-block;
  }
  .links-dropdown, .langs-dropdown {
    display: block;
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    /* background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);  */
    border-radius: 0;
    box-shadow: none;
    transition: 0s;
  }
  .links:hover .links-dropdown{
    position: relative;
    transform: scale(1); 
    margin-top: 1rem;
  }
  .langs:hover .langs-dropdown{
    position: relative;
    transform: scale(1); 
    margin-top: 1rem;
  }
  .links-dropdown li {
    text-align: start;
  }
  /* #links-check:checked ~ .links-dropdown {
    display: block;
  } */
}
@media (max-height: 625px) {
  .bottom-panel {
    top: 10dvh;
  }
}
@media screen and (orientation:landscape) {
  .bottom-panel button {
    margin-top: 3dvh;
  }
}